html {
  background-color: #deff47;
}

ul li {
  color: red;
}
table {
  background-color: lightgreen;
}
th {
  font-size: 22px;
}
td {
  font-size: 18px;
}
#name {
  color: grey;
}
#firstRow {
  color: purple;
}
.interest {
  color: blue;
}
.firstRow {
  color: tomato;
}
div {
  width: 50px;
  height: 50px;
}
.div1 {
  background-color: rgba(181, 55, 212, 0.699);
}
.div2 {
  background-color: rgba(212, 118, 55, 0.699);
}
