*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-color: green;
  background-color: white;
  text-decoration: none;
  padding: 3px;
}
p {
  font-size: 1.5rem;
}
a:active {
  color: blue;
}
a:link {
  color: pink;
}
a:visited {
  color: black;
}
a:hover {
  transition: 3s;
  background-color: darkcyan;
  box-shadow: 3px 3px 2px rgba(192, 11, 4, 0.5);
}
nav ul li {
  list-style: none;
  display: inline;
  border: 2px black solid;
  padding: 5px;
}
.tokyo:hover {
  transition: 5s;
  width: 300px;
  height: 300px;
  background-color: darkblue;
  box-shadow: 25px 25px 15px grey;
}
h1 {
  text-align: center;
  margin: 20px;
}
div h2 {
  text-align: center;
  margin: 20px;
}

.arabic {
  text-align-last: right;
}
div p {
  margin: 30px;
  /* padding-left: 50px;
  padding-right: 50px; */
}
div p:hover {
  transition: 3s;
  /* transition: ease-in; */
  background-color: lightgray;
}
