/* pseudo elements VS  pseudo classes */

/* pseudo-element is a keyword added to a selector that lets you style a specific part of the selected element(s) */

/* pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). */

/* ::before  Vs :before */

/* ::first-letter (:first-letter) */
.text::first-letter {
  color: orangered;
  font-size: 30px;
  font-weight: bold;
}

/* ::placeholder  */
[type="text"]::placeholder {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}

/* display:none vs opacity: 0 */
.tokyo {
}
/* vh & vw */

/* visual content like img */
/*  % , border-radius */
