body {
  /* background-image: url(../img/fruits.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* margin: 0 auto; */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.tokyo-night {
  width: 100px;
  height: 100px;
  border: 2px yellow solid;
}
h1,
h4,
p,
div {
  color: purple;
}
.nature {
  width: 200px;
  height: 200px;
  border-radius: 40% 20% 40% 20%;
  border-color: black;
  border-style: dotted;
  border: 3px black solid;
  border-top: 3px red dashed;
  border-bottom: 3px red dashed;
  padding: 10px 10px 20px 10px;
  margin: 100px;
}
.one {
  width: 50px;
  height: 50px;
  background-color: brown;
  border: 2px black solid;
  margin-bottom: 30px;
}
.two {
  width: 50px;
  height: 50px;
  background-color: brown;
  border: 2px black solid;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.three {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: brown;
  border: 2px black solid;
  margin-bottom: 30px;
}
.four {
  width: 0;
  height: 0;
  border-top: 75px brown solid;
  border-left: 75px solid transparent;
  margin-bottom: 30px;
}
/* .four {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 100px solid brown;
    margin-bottom: 30px;
} */

.five {
  width: 80px;
  height: 80px;
  background-color: brown;
  border: 2px black solid;
  margin-bottom: 30px;
}
.six {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: brown;
  border: 2px black solid;
  margin-top: 20px;
  margin-left: 20px;
}
.test-box {
  width: 30%;
  height: 40px;
  border: 2px solid black;
}
.random-text {
  letter-spacing: 2px;
  word-spacing: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  text-indent: 50px;
}
a {
  text-decoration: none;
}
p:last-child {
  background-color: chocolate;
}
p:only-child {
  background-color: darkcyan;
}

.move {
  width: 100px;
  height: 40px;
  background-color: lightblue;
  border: 2px yellow dotted;
}
.move:hover {
  background-color: red;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px grey;
}
